

header li {
  display: inline;
  text-align: right;
}


.poke {
display: inline-flex;
box-sizing: border-box;
}


.squirtle {
  flex: 1 0 200px;
  padding: 5px;
  width: 25%;
  height:300px;
  margin-top: 20rem;
  margin-right: 4px;
  border-style:solid;
  border-width: 2px;
  float: left;
 
}

footer {
  display: inline;
  text-align: center;
}

.banner {
  padding: 20px;
  height: 200px;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .poke {
  
  }
}
