nav a {
  text-decoration: none;
}


header nav {
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

header h1 {
  margin-left: 1%;
  font-size: 350%;
}

header nav a {
  justify-content: flex-end;
  display: inline;
  align-items: right;
  padding-left: 1rem;
}


.poke {
margin-top: 20rem;
display: flex;
width: auto;
/* padding-left: 15rem; */
/* padding-right: 15rem; */
margin-bottom: 5rem;
}


.box {
  border-style:solid ;
  border-image: linear-gradient(
    rgba(255, 128, 0, 0.3) 0%,
    rgba(255, 128, 0, 0.6) 100%
  );
  border-width: 1rem;
  margin: .1rem;
  box-sizing:border-box;
  width: 50%;

}

footer {
  display: inline;
  text-align: center;
}

#banner {
  padding: 1%;
  height: 100%;
  width: 98%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 2%;
}

#about {
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

#resume {
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.6) 0%,
    rgba(232, 102, 236, 0.3) 100%
  );
}

#temp {
  background-image: linear-gradient(90deg,
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

#temp1 {
  background-image: linear-gradient(90deg,
    rgba(232, 102, 236, 0.6) 0%,
    rgba(232, 102, 236, 0.3) 100%
  );
}

#work {
  border-style: solid; /* boreder style for targeting purposes */
  border-color: red;
  border-width: 1rem;
  height: 15rem;
  /* margin-left: 15rem; */
  /* margin-right: 15rem; */
  background-image: url("../images/website_screenshot.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin-top: 5rem;
  text-decoration: none;
}

#work p {
  font-size: 2vw;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 1660px) {
  .poke {
    padding-left: 0rem;
    padding-right: 0rem;
  } 
  #work {
    margin-left: 0rem;
    margin-right: 0rem;
  }
} 

@media screen and (max-width: 992px) {
  .poke {
    flex-wrap: wrap;
  } 
  #work {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .box {
    width: 49.4%;
  }
}
  @media screen and (max-width: 600px) {
    .box {
      width: 98%;
    }
  }
div a {
  width: 100%;
  align-self: flex-end;
}





/* { 
  background-color: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%,
  );
}
*/
